absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
airbyte==0.15.0
airbyte-api==0.49.4
airbyte-cdk==3.0.0
airbyte_protocol_models_pdv2==0.12.2
alpha_vantage==3.0.0
altair==5.3.0
annotated-types==0.7.0
asn1crypto==1.5.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.8.2
Bottleneck==1.4.0
bracex==2.4
bs4==0.0.2
cachetools==5.4.0
cattrs==23.2.3
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
dataclasses-json==0.6.7
Deprecated==1.2.14
dpath==2.2.0
duckdb==1.0.0
duckdb_engine==0.13.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.2
Faker==26.1.0
favicon==0.7.0
feedparser==6.0.11
filelock==3.15.4
financedatabase==2.2.2
financetoolkit==1.9.2
flatbuffers==24.3.25
fonttools==4.53.1
frozendict==2.4.4
frozenlist==1.4.1
fundamentalanalysis==0.3.1
gast==0.6.0
gcloud==0.18.3
genson==1.2.2
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-bigquery==3.25.0
google-cloud-bigquery-storage==2.25.0
google-cloud-core==2.4.1
google-cloud-secret-manager==2.20.1
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
greenlet==3.0.3
grpc-google-iam-v1==0.13.1
grpcio==1.65.1
grpcio-status==1.62.2
h11==0.14.0
h5py==3.11.0
htbuilder==0.6.2
html5lib==1.1
httplib2==0.22.0
idna==3.7
isodate==0.6.1
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonref==0.2
jsonschema==3.2.0
jsonschema-specifications==2023.12.1
jwcrypto==1.5.6
keras==3.4.1
kiwisolver==1.4.5
langchain-core==0.1.42
langsmith==0.1.93
libclang==18.1.1
llvmlite==0.43.0
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1
mdurl==0.1.2
ml-dtypes==0.4.0
more-itertools==10.3.0
multidict==6.0.5
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.8
nltk==3.8.1
nselib==1.0
nsepython==2.93
nsepythonserver==2.93
numba==0.60.0
numexpr==2.10.1
numpy==1.26.4
oauth2client==4.1.3
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.12.1
orjson==3.9.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.2
peewee==3.17.6
pendulum==2.1.2
pillow==10.4.0
platformdirs==4.2.2
plotly==5.23.0
plyer==2.1.0
prometheus_client==0.20.0
proto-plus==1.24.0
protobuf==4.25.4
psycopg2-binary==2.9.9
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.8.0
pymdown-extensions==10.9
pyOpenSSL==24.2.1
pyparsing==3.1.2
pyperclip==1.9.0
pyrate-limiter==3.1.1
Pyrebase4==4.8.0
pyrsistent==0.20.0
pyshorteners==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jwt==4.1.0
python-ulid==2.7.0
pytrends==4.9.2
pytz==2024.1
pytzdata==2020.1
PyYAML==6.0.1
referencing==0.35.1
regex==2024.7.24
requests==2.31.0
requests-cache==1.2.1
requests-toolbelt==0.10.1
rich==13.7.1
rpds-py==0.19.0
rsa==4.9
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
selenium==4.23.0
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowflake-connector-python==3.12.0
snowflake-sqlalchemy==1.6.1
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.10.4
SQLAlchemy==1.4.51
sqlalchemy-bigquery==1.9.0
st-annotated-text==4.0.1
st-theme==1.2.3
stocknews==0.9.11
streamlit==1.37.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tenacity==8.5.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
ticker==0.13
toml==0.10.2
tomlkit==0.13.0
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
trio==0.26.0
trio-websocket==0.11.1
types-PyYAML==6.0.12.20240724
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ulid==1.1
url-normalize==1.4.3
urllib3==1.26.19
validators==0.33.0
watchdog==4.0.1
wcmatch==8.4
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
wrapt==1.16.0
wsproto==1.2.0
xarray==2024.6.0
xlrd==2.0.1
yarl==1.9.4
yf==0.0.4
yfinance==0.2.41
